.addCreditCard {
    border: 1mm inset gray;
    background-color: gainsboro;
    color: goldenrod;
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 39.6%;
    object-fit: contain;
    text-align: center;
}

html {
    background-color: burlywood;
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 40%;
    object-fit: contain;
}

.table {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
    object-fit: contain;
}


.name {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
    object-fit: contain;
    text-align: center;
}

.number {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
    object-fit: contain;
    text-align: center;
}

.date {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
    object-fit: contain;
    text-align: center;
}

.ccv {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
    object-fit: contain;
    text-align: center;
}

.button {
    display:block;
    border: 1mm outset cadetblue;
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 20%;
    object-fit: contain;
    text-align: center;
}